body {
	font-family: Arial, Helvetica;
	font-color: black;
	font-size: 12px;
}

p {
	font-family: Arial, Helvetica;
	font-color: black;
	font-size: 12px;
}

li {
	font-family: Arial, Helvetica;
	font-color: red;
	font-size: 12px;
}

td {
	font-family: Arial, Helvetica;
	font-color: black;
	font-size: 12px;
}
